Makefile
*.make

*.gb
*.bin

.DS_Store
*~

*.gch
*.o
*.a
*.dylib
Spielbub
Spieltest
tests

obj/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
spielbub.sublime-workspace
